body {
    margin: 0;
    padding: 0;
    background-color: rgb(240, 244, 255);
    font-family: "Clarkson", Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6;
}

.navbar {
    background-color: rgb(240, 244, 255);
    display: flex;

    justify-content: space-between;
    padding-top: 1em;
    background-color: rgb(51, 54, 97);
    margin-bottom: 0px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;

}

.navbar li {
    font-size: 2em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    margin-right: 1.5em;
    margin-left: 1.5em;
    letter-spacing: 0.02em;
}

.navbar a {
    color: white;
    text-decoration: none;
}

.navbar a:hover {
    background-color: rgb(51, 54, 97);
    color: rgb(121, 122, 161);

    border-radius: 1.25em;
}



.navbar a.logo img {
    height: 3.125em;
}

.welcome_banner img {
    width: 100%;
    border-radius: 0.2em;
    margin-bottom: -0.45em;
}



.intro-text {
    font-size: 2em;
    font-weight: 1.25em;
    text-align: center;
    margin-top: 0px;
}

.home-page-first-heading {

    font-size: 3.5em;
    background-color: rgb(51, 54, 97);
    color: rgb(236, 176, 124);
    text-align: center;
    margin-bottom: 0%;
    margin-right: 0px;
    margin-left: 0%;
    margin-top: 0%;

}

.pic-text-side-by-side {
    display: flex;
    flex-direction: column;
}

.home-page-club-intro {
    border: 0.4em solid rgb(51, 54, 97);
    padding: 1em;
    box-sizing: border-box;
    margin-left: 2em;
    margin-right: 2em;
    font-size: 2em;
    border-radius: 1em;
    align-self: center;
    max-width: 70%;

}

.second-banner-img {
    max-width: 60%;
    align-self: center;
    height: auto;
    border-radius: 2em;
    margin-right: 2em;
    margin-left: 3em;
    margin-top: 3em;

}



main {
    text-align: center;

}

h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.team-units {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.team-unit {
    max-width: 200px;
    text-align: center;
    margin: 1rem;
}

.team-unit img {
    width: 100%;
    max-width: 150px;
    border-radius: 50%;
}

.name {
    font-size: 1.2rem;
    font-weight: bold;
}

.role {
    font-size: 1rem;
    color: #777;
}

.instagram-logo {
    width: 02em;
    margin-left: auto;
}

contact-boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
}

.contact-box {
    text-align: center;
    margin: 1em;
}

.contact-box img {
    width: 20em;
    height: 20em;
    border-radius: 1em;
    margin-bottom: 0em;
    margin-top: 0.5em;
}

.contact-box h2 {
    font-size: 5em;
    color: rgb(51, 54, 97);
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

.contact-button {
    padding: 0.5em 1em;
    font-size: 3em;
    background-color: rgb(51, 54, 97);
    color: white;
    border: none;
    border-radius: 1em;
    cursor: pointer;
    margin-top: 0.2em;
    margin-bottom: 4em;
}

.contact-button:hover {
    background-color: rgb(71, 74, 117);
}

.join-button {
    padding: 0.5em 1em;
    font-size: 3em;
    background-color: rgb(51, 54, 97);
    color: rgb(236, 176, 124);
    border: none;
    border-radius: 0.3em;
    cursor: pointer;
    margin-top: 0.2em;
    margin-bottom: 4em;
}

.join-button:hover {
    color: rgb(237, 197, 135);
}

.footer-content {
    text-align: center;

}

@media (max-width: 768px) {
    body {
        font-family: "Tahoma", sans-serif;
    }
}

/* For desktop/laptop devices */
@media (max-width: 769px) {
    .pic-text-side-by-side {
        display: flex;

    }
}